.box {
    width: 500px;
    height: 500px;
    background-color: blue;
    border: 3px solid red;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px greenyellow;
}

.content {
    width: 0; 
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 450px solid #79849B;
    margin: 0 auto;
    }
    .content:hover {
        background-color: blue;
    }
    .car {
        height: 0; 
width: 300px;
border-bottom: 300px solid #FFE344;
border-left: 250px solid transparent;
border-right: 250px solid transparent;
margin: 0 auto;
    }
    .car:hover{
        background-color: violet;
    }
